body{
  background-color: rgb(53, 53, 235);
}

.intro{
  color: azure;
  font-size: 30px;
  text-align: center;
  margin-top: 300px;
}

.name{
  color: antiquewhite;
  font-size: 90px;
  text-align: center;
  margin-top: 20px;
}
